<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  version="2.5">
 <!-- http://stackoverflow.com/questions/138948/how-to-get-utf-8-working-in-java-webapps -->
 <jsp-config>
  <jsp-property-group>
   <url-pattern>*.jsp</url-pattern>
   <page-encoding>UTF-8</page-encoding>
  </jsp-property-group>
 </jsp-config>
 <session-config>
  <session-timeout>999999</session-timeout>
 </session-config>
 <servlet>
  <servlet-name>base</servlet-name>
  <jsp-file>/SemperBaseRaf.jsp</jsp-file>
  <!--servlet-class>S</servlet-class-->
 </servlet>
 <servlet>
  <servlet-name>signedin</servlet-name>
  <jsp-file>/SignedIn.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
  <servlet-name>base</servlet-name>
  <url-pattern>base/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>signedin</servlet-name>
  <url-pattern>signedin/*</url-pattern>
 </servlet-mapping>
</web-app>